<template>
    <document-head title="Home"/>

    <app-layout>
        <template #breadcrumbs> / <Link href="/basedball" class="underline">basedball</Link></template>

        <h6 class="mx-32">Basedball</h6>
        <div class="flex flex-col space-y-4 text-center m-4">
            <span>Inning: {{ inning }} Turn: {{ gameOver ? 'Game Over!' : teams[turn].name }}</span>
            <p class="font-bold text-md">Score</p>
            <span>Team 1: {{ teams[0].score }} Team 2: {{ teams[1].score }}</span>
            <p v-html="message" class="bg-gray-100 rounded py-1 px-2"></p>
            <button @click="action('pitch')" class="shadow bg-gray-50 rounded py-1">Pitch</button>
            <button @click="action('incinerate')" class="shadow bg-gray-50 rounded py-1">Incinerate</button>
            <span class="underline text-center"><Link href="/">Return Home</Link></span>
        </div>
    </app-layout>
</template>
<script>
import {defineComponent} from 'vue'
import {Head as DocumentHead, Link} from '@inertiajs/inertia-vue3';
import AppLayout from "@/Pages/Beta/Layout";

export default defineComponent({
    components: {
        AppLayout,
        DocumentHead,
        Link,
    },
    data() {
        return {
            inning: 1,
            turn: 0,
            gameOver: false,
            message: 'Welcome to Basedball!',
            teams: [
                {
                    name: '',
                    score: 0,
                    players: []
                },
                {
                    name: '',
                    score: 0,
                    players: []
                }
            ],
            playerNames: [
                'Jim',
                'Bob',
                'Bo',
                'Jimbob',
                'Jimbo',
                'Alex',
                'Liz',
                'Stjin',
                'Throckmorton',
                'Ashley',
                'Anna',
                'Balls D. Luxe',
                'MF Unlimited',
                'Professor',
                'David Guetta',
                'Jeff',
                'Todd Demon',
                'Zeeky Beets'
            ],
            teamNames: [
                'The Crunchy Bumpkins',
                'The Christmas Specials',
                'Todd\'s Demons',
                'milfs',
                'the guys from that house party'
            ]
        }
    },
    methods: {
        action(action) {
            if (this.gameOver) return;
            switch(action) {
                case 'pitch':
                    this.teams[this.turn].score++;
                    this.message = `${this.teams[this.turn].name} did a pitch!`;
                    break;
                case 'incinerate':
                    if (this.inning === 9 && this.turn === 2) return;
                    this.message = `${this.teams[this.turn].name} incinerated a player on the other team!`;
                    break;
            }
            if (this.turn === 1) {
                this.turn = 0;
                if (this.inning === 9) {
                    this.message = `What an amazing game!`
                    this.gameOver = true;
                } else {
                    this.message += `</br> That does it for inning ${this.inning++}`
                }
            } else {
                this.turn = 1;
            }
        }
    },
    mounted() {
        let index = Math.floor(Math.random() * this.teamNames.length);
        this.teams[0].name = this.teamNames[index];
        if (index > 0) {
            index--;
        } else {
            index++;
        }
        this.teams[1].name = this.teamNames[index];
    }
})
</script>
