<template>
    <document-head title="Linked Apps"/>

    <app-layout>
        <h6 class="mx-32">Linked Apps</h6>
        <span v-if="connections.length === 0" class="font bold">You have no apps connected.</span>
        <div v-else class="flex flex-col space-y-4 text-center m-4">
            <div v-for="app in connections" class="flex flex-row justify-between border-b border-gray-200 bg-gray-50 rounded px-2 py-1">
                <span>{{ app.name }}</span>
                <span @click="deleteToken(app)" class="text-red-500 hover:underline hover:cursor-pointer">Delete</span>
            </div>
        </div>
    </app-layout>
</template>
<script>
import {defineComponent} from 'vue'
import {Head as DocumentHead, Link} from '@inertiajs/inertia-vue3';
import AppLayout from "@/Pages/Beta/Layout";

export default defineComponent({
    components: {
        AppLayout,
        DocumentHead,
        Link,
    },
    props: {
        connections: Array
    },
    methods: {
        deleteToken(app) {
            axios.delete('/tokens/' + app)
        }
    }
})
</script>
