<template>

</template>
<script>
import {defineComponent} from 'vue'
import {Head as DocumentHead, Link} from '@inertiajs/inertia-vue3';
import AppLayout from "@/Pages/Beta/Layout";

export default defineComponent({
    components: {
        AppLayout,
        DocumentHead,
        Link,
    },
})
</script>
