<template>
    <div class="flex flex-col justify-center items-center min-h-screen" style="background:linear-gradient(#004A63, #00222D);">
        <div class="flex flex-col rounded-lg p-4 text-white" style="background-color: rgba(0, 0, 0, 0.6)">
            <h1 class="font-bold text-3xl">{{ profile.username }}</h1>
            <div class="flex flex-row space-x-4">
                <span>Stars: {{ profile.stars }}</span>
                <span>Diamonds: {{ profile.diamonds }}</span>
                <span>Coins: {{ profile.coins }}</span>
                <span>User Coins: {{ profile.userCoins }}</span>
                <span>Creator Points: {{ profile.cp }}</span>
            </div>
            <template v-if="!!profile.plus">
                <span style="background-color: rgba(255, 255, 255, 0.25)">{{ profile.plus.bio }}</span>
                <div class="flex flex-row space-x-4">
                    <span>{{ profile.plus.website }}</span>
                    <span>{{ profile.plus.pronouns }}</span>
                    <span></span>
                </div>
            </template>
        </div>
        <document-head>
            <title>{{ profile.username }}</title>
            <meta property="og:title" :content="profile.username + '\'s Profile'" />
            <meta property="og:type" content="website" />
            <meta property="og:url" :content="'https://profile.gd/' + profile.username" />
            <!--<meta property="og:image" content="http://my.site.com/images/thumb.png" />-->
            <template v-if="!!profile.plus.bio">
                <meta property="og:description" :content="profile.plus.bio" />
            </template>
            <meta v-else property="og:description" :content="'This user has no bio'" />
            <meta name="theme-color" content="#FF0000">
            <meta name="twitter:card" content="summary_large_image">
        </document-head>
    </div>
</template>
<script>
import {defineComponent} from 'vue'
import {Link, Head as DocumentHead} from '@inertiajs/inertia-vue3'


export default defineComponent({
    components: {
        Link,
        DocumentHead
    },
    props: {
        profile: Object
    },
})
</script>
